<!DOCTYPE html>
<html>
<head>
	<?- head ?>

	<?- _.css(css) ?>

	<title><?= _.l(title.toUpperCase()) ?></title>
</head>
<body>

	<div id="main">

		<h1 class="text-center font-l">
			User Dashboard
		</h1>

		<br>

		<div id="add_user">
			<div class="input-group">
				<span class="input-group-addon">
					User Name
				</span>
				<input id='username' type="text" class="form-control" placeholder='English only, no space, lower case'>
			</div>
			<br>
			<div class="input-group">
				<span class="input-group-addon">
					Password
				</span>
				<input id='password' type="password" class="form-control">
			</div>
			<br>
			<button id="adduser" class="btn btn-primary">
				Add User
			</button>
			<button id='deluser' class="btn btn-danger">
				Delete User
			</button>
		</div>

	</div>

	<?- foot ?>

	<?- _.js(js) ?>

</body>
</html>