<!-- Global assets -->
<?- render('assets/ejs/assets.ejs', null, true) ?>

<div id="NB-scripts">
	<?-
		_.js(
			// Third libs
			'/requirejs/require.js',
			'/jquery/dist/jquery.min.js',
			'/underscore/underscore-min.js',
			'/underscore.string/dist/underscore.string.min.js',
			'/bootstrap/dist/js/bootstrap.min.js',

			// NB
			'/langs/' + NB.conf.current_lang + '.js',
			'/js/jquery.helpers.js',
			'/js/_.helpers.js',
			'/js/app.js'
		)
	?>

</div>

<!-- Global configuration. -->
<script type="text/javascript">

	NB.nobone = new NB.Nobone

</script>
